<p id="notice"><%= notice %></p>

<p>
  <strong>Enneagram number:</strong>
  <%= @enneagram_number.enneagram_number %>
</p>

<%= link_to 'Edit', edit_enneagram_number_path(@enneagram_number) %> |
<%= link_to 'Back', enneagram_numbers_path %>
