<nav class="d-flex justify-content-between align-items-center">
  <div class="logo">
    <%= link_to image_tag('the-art-of-growth-logo.png', alt:'the art of growth logo'), "https://theartofgrowth.org" %>
  </div>
  <%if user_signed_in? %>
    <div class="dropdown ">
      <button class="btn dropdown-toggle name" type="button" data-toggle="dropdown"><%= current_user.full_name%>
      <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-menu-right mt-2">
        <li><%= link_to "Edit Profile", edit_user_registration_path  %></li>
        <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>
  <%end%>
</nav>

