<div class="row">
  <div class="col-md-6 landing-page-left">
    <div class="hero-text">
      <h1>Understand you</h1>
      <h2>Understand others</h2>

    </div>
  </div>
  <div class="col-md-6 landing-page-right">
    <div class="hero-text-center">

      <h4>Create an account</h4>
      <br />
      <h4>Take our personality assessment</h4>
      <br />
      <h4>Get education, join our community, change your life</h4>
      <br />
      <%= link_to 'Log In', new_user_session_path, id:'log-in', class:'btn btn-info btn-lg text-white landing-page-btn'%>
      <%= link_to 'Sign Up', new_user_registration_path, id:'sign-up', class:'btn btn-info btn-lg text-white landing-page-btn'%>
    </div>
  </div>
</div>