.dropdown-menu{
  right:auto;
  left:auto;
}
.dropdown-menu-right{
  right:auto;
  left:auto;
}
.dropdown-item:hover,
.dropdown-item:focus{
  background-color:transparent;
}

@media (min-width:576px) and (max-width:991px){
  .remove-container{
    max-width:100%;
  }
}