
<div class="row">
  <div class="col-md-8">
    <h2>Enneagram Personality Assessment</h2>
  </div>

</div>

<br>
<br>

<div class="row">
  <div class="col-md-8">
    <h4>Coupon Code?</h4>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-8">
    <h3>Total</h3>
  </div>
  <div class="col-md-2">
    <h2>$10</h2>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-8">
    <h4>PAYMENT</h4>
  </div>
</div>
<form>
  <div class="form-group">
    <div class="row">
      <div class="col-md-8">
        <input type="number" class="form-control" id="cc-number" aria-describedby="credit card number" placeholder="Card Number">
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-8">
        <input type="text" class="form-control" id="cc-name" aria-describedby="credit card name" placeholder="Name as it appears on card">
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-2">
        <input type="number" class="form-control" id="cc-expiration-month" aria-describedby="credit card expiration month" placeholder="MM">
      </div>
      <h3>/</h3>
      <div class="col-md-2">
        <input type="number" class="form-control" id="cc-expiration-year" aria-describedby="credit card expiration year" placeholder="YY">
      </div>

      <div class="col-md-2 offset-md-1">
        <input type="number" class="form-control" id="cc-security-code" aria-describedby="credit card security code" placeholder="CVV">
      </div>
    </div>
  </div>




  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
 <%# <div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6"> %>
    <!-- Strip form -->
    <%#= form_with url: checkouts_path, method: :post, id: 'payment-form'  do |form| %>
      <%# <div class="form-row">
        <label for="card-element">Credit or Debit Card</label>
        <div id="card-element"></div>
        <div id="card-errors" role='alert'></div>
      </div> %>
      <%#= form.submit 'Subscribe', class: 'btn btn-primary' %>
    <%# end %>
  <%# </div>
 </div>
  %>


