
// #coupon-code-link:hover{
//   text-decoration: none;
// }
// #coupon-code-link:visited{
//   color:inherit;
// }

// #coupon-code-form{
//   transition:all 1s ease-out;
//   height:0;
//   overflow:hidden;
// }


#coupon-code-icon{
  display:none;
}
.pointer{
  cursor: pointer;
}
.flex-row{
  display: flex;
  align-items: center;
}
.no-margin-bottom{
  margin-bottom:0rem;
}
#cc-icon{
  display: none;
}
.cc-icon{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  background-color: #555;
  border-radius: 50%;
  margin-right:1rem;

}
.plus{
  height: 2px;
  width: 15px;
  background-color: red;
  position: relative;
  display: block;
}
.plus:before{
  content: "";
  height: 2px;
  width: 15px;
  background-color: red;
  position: absolute;
  display: block;
   transform: rotate(90deg);
}

.display-block{
  display: block;
}
#coupon-code-icon:checked .display-block .cc-icon::before{
  content: "\26A0";
  transform: rotate(20deg);
}
#coupon-code-icon:checked ~ #coupon-code-form{
  max-height: 100vh;
}

#coupon-code-form{
  transition: max-height 0.4s ease-in-out;
  max-height:0;
  overflow:hidden;
}